{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Fee Bootstrap Admin Theme with Webpack and Laravel-Mix" />
    <meta name="keywords" content="bootstrap, admin theme, admin dashboard, jquery, webpack, laravel-mix, template, responsive" />
    <meta name="author" content="siQuang - Simon Nguyen" />

    <title>ADMIN - {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'assets/css/siqtheme.css' %}">

    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/apple-icon.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'assets/img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'assets/css/pages/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/pages/cp_datetime.css' %}">
</head>

<body class="theme-dark">
    {% block index %}
    {% endblock %}
    <script src="{% static 'assets/scripts/siqtheme.js' %}"></script>
    <script src="{% static 'assets/scripts/pages/dashboard.js' %}"></script>
    <script src="{% static 'assets/scripts/pages/ch_apexcharts.js' %}"></script>
    <script src="{% static 'assets/scripts/pages/cp_datetime.js' %}"></script>
    <script src="{% static 'assets/scripts/pages/fm_ckeditor_balloon.js' %}"></script>
    <script src="{% static 'assets/scripts/pages/fm_ckeditor_block.js' %}"></script>
    <script src="{% static 'assets/scripts/pages/fm_ckeditor_classic.js' %}"></script>
    <script src="{% static 'assets/scripts/pages/fm_ckeditor_document.js' %}"></script>
    <script src="{% static 'assets/scripts/pages/fm_ckeditor_inline.js' %}"></script>
    <script src="{% static 'assets/scripts/pages/fm_control.js' %}"></script>
    <script src="{% static 'assets/scripts/pages/tb_datatables.js' %}"></script>
    <script src="{% static 'assets/scripts/pages/ui_cards.js' %}"></script>
    <script src="{% static 'assets/scripts/pages/ui_modal.js' %}"></script>
    <script src="{% static 'assets/scripts/pages/UI_toastr.js' %}"></script>
</body>

</html>