{% extends 'index.html' %}
{% load static %}
{% block title %}Data Tables{% endblock title %}
{% block main %}
    <!-- BOF MAIN -->
    <div class="main">
        <!-- BOF Breadcrumb -->
        <div class="row">
            <div class="col">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href=""><i class="ti-home"></i> Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="">Tables</a></li>
                    <li class="breadcrumb-item active">DataTables</li>
                </ol>
            </div>
        </div>
        <!-- EOF Breadcrumb -->

        <!-- BOF Datatable Addrows -->
        <div class="row">
            <div class="col">
                <div class="card mb-3">
                    <div class="card-header">
                        <div class="caption uppercase">
                            <i class="ti-briefcase"></i> Logs
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="dt-addrows">
                                <thead class="thead-light">
                                    <tr>
                                        <th>ID</th>
                                        <th>Log</th>
                                        <th>Log Level</th>
                                        <th>Timestamp</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for log in logs %}
                                    <tr>
                                        <td>{{log.id}}</td>
                                        <td>{{log.log_message}}</td>
                                        <td>{{log.log_level}}</td>
                                        <td>{{log.timestamp}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- EOF Datatable Addrows -->

    </div>
    <!-- EOF MAIN -->
{% endblock %}